#thelist{
  color: purple;
}
a:hover {
  background-color: aquamarine;
}
#bubbletea{
  color: purple;
}
#icedtea{
  color: deepskyblue;
}
#spooky{
  color: green;
}
#wowzers{
  color: orange;
}
.velocity{
  color: magenta;
}
.magnitude{
  color: turquoise;
}
a{
  color: cadetblue;
}
